*
node_modules/
dist/
*.tgz
.DS_Store
*.bun-build
*.fileloc

!.gitignore
!.gitattributes
!.github
!.github/
!.github/workflows
!.github/workflows/
!.github/workflows/**
!README.md
!package.json
!package-lock.json
!tsconfig.json
!esbuild.config.mjs
!scripts/
!scripts/**
!src/
!src/**
!.githooks/
!.githooks/**
